.vpSkillsSection {
  text-align: center;
  margin: 25px auto;
  max-width: 400px;
}

.vpSkillsTitle {
  font-size: 1.4rem;
  margin-bottom: 14px;
  color: #8000ff;
}

.vpSkillsList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.vpSkillsList li {
  background: rgba(0, 187, 249, 0.1);
  border: 2px solid #00bbf9;
  color: #8000ff;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.vpSkillsList li:hover {
  background: rgba(0, 187, 249, 0.2);
  transform: scale(1.05);
}
